@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --vdark-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  --max-width: 1170px;
  --fixed-width: 620px;
}
html,
* {
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}
.btn {
  text-transform: capitalize;
  padding: 0.25rem 15px;
  width: 140px !important;
  height: 30px !important;
  background: var(--clr-primary-5);
  color: var(--clr-grey-1);
  font-weight: bold;
  border-radius: var(--radius);
  display: inline-block;
  height: 24px;
  border: 1px solid var(--clr-grey-7);
  margin: 0.5rem 5px 0rem 5px;
  letter-spacing: var(--spacing);
  text-decoration: none;
}
.btn2 {
  text-transform: capitalize;
  padding: 10px 15px;
  height: 30px !important;
  background: var(--clr-primary-5);
  color: var(--clr-grey-1);
  font-weight: bold;
  border-radius: var(--radius);
  display: inline-block;
  height: 24px;
  margin: 0.5rem 5px 0rem 5px;
  letter-spacing: var(--spacing);
  text-decoration: none;
}

.card {
  box-shadow: 2px 15px 15px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 70%;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid var(--clr-grey-1);
  margin: 10px;
}
.hero {
  background-image: url("./image/hero1.png");
  background-repeat: no-repeat;
  height: 45vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  align-items: center;
  padding-top: 5px;
  text-align: center;
  box-shadow: var(--vdark-shadow);
  border-bottom: 3px solid var(--clr-grey-2);
}
.title {
  height: 72px;
  margin: 20px 14px 8px 0;
  font-size: 48px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  animation: zoom-in-zoom-out 4s ease-out infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

header {
  background-color: var(--clr-grey-3);
  padding: 0px 80px;
}
ul {
  text-decoration: none;
  text-align: right;
}
li,
li a {
  color: var(--clr-grey-9);
  display: inline-block;
  width: 158px;
  text-decoration: none;
  height: 19px;
  margin: 10px 15px 21px 15px;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
li a:hover {
  font-weight: 900;
  color: var(--clr-white);
}
form {
  margin-top: 20px;
}
input {
  height: 40px;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid var(--clr-grey-1);
  padding: 5px 25px;
  width: 40%;
}

::placeholder {
  color: black;
  font-weight: 700;
}
.content {
  display: flex;
  padding: 20px;
}
.next {
  float: right;
  bottom: 0;
}
#call {
  border-radius: 20px;
  background-color: var(--clr-primary-8);
  padding: 10px 20px;
  font-weight: bold;
  float: left;
}
.btn-next {
  padding: 10px;
  background: transparent;
  color: var(--clr-grey-1);
  border-radius: var(--radius);
  border: 0px;
  display: inline-block;
  margin: 0.5rem 5px 0rem 5px;
  letter-spacing: var(--spacing);
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
}
#cat {
  text-transform: capitalize;
  font-size: 100%;
}
#slect-cat {
  text-align: center;
  width: 30%;
  justify-content: center;
  padding-top: 100px;
}
#slect-cat2 {
  text-align: center;
  width: 30%;
  justify-content: center;
  padding-top: 20px;
}
#select {
  background-color: var(--clr-primary-8);
  padding: 10px 20px;
  font-weight: 500;
  padding: 10px 50px;
  color: var(--clr-grey-1);
  font-weight: bold;
}
.footer {
  background-image: url("./image/footer.png");
  background-repeat: no-repeat;
  height: 45vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  align-items: center;
  padding-top: 5px;
  text-align: center;
}
.titlef {
  height: 72px;
  margin: 80px 14px 8px 0;
  font-size: 48px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
#joke-submit {
  background-color: transparent;
  color: var(--clr-grey-1);
}
